@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor1:#efa7e3;
    --cor2:#C94B8C;
    --cor3:#B44FBD;
    --cor4:#B14ED4;
    --cor5:#934BC9;
    --cor6:#ffffff;
    --cor7:#000000;

}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

header {
    height: 100%;
    background-color: black;
    color: white;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;

}

.logoimg {
    width: 70px;
    height: 70px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: var(--cor1);
    background-image: url('../imagens/imgico.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 40px;
}

nav {
    padding-right: 15px;
}

.imgmenu {
    padding-top: 35px;
    padding-right: 1px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: center;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #000;
    padding-left: 22px;
    padding-right: 22px;
    height: 100px;
}

.menu li a:hover ,
.menu .ative a {
    border-bottom: 5px solid var(--cor1);    
    color: var(--cor1);
}


.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../imagens/fundo.jpeg');
    background-size: cover;
    overflow: hidden;
}

.banner .sliders {
    width: 1000vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.13);
}

.banner .slidearea {
    flex-direction: column;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner h1 {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 60px;
}

.banner h1 span {
    color: var(--cor7);
}

.banner h2 {
    text-transform: uppercase;
    font-weight: bolder;
    color: black;
    margin-top: 20px;
}

.banner a {
    display: block;
    background-color: var(--cor7);
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}

.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 3px solid var(--cor7);
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    
    
}

.banner .pointer.active {
    background-color: var(--cor6);
}

.digital {
    color: var(--cor1);
    font-weight: bolder;
    font-size: 15px;
    margin-top: 38px;
    padding-right: 10px;
}

footer  {
    background-color: var(--cor7);
    font-weight: bolder;
    font-size: 15px;
    padding-top: 10px;
    margin: auto;
    color: var(--cor6);
}

footer > a ,p {
    text-align: center;
    text-decoration: none;
    color: var(--cor6);
}

footer a:hover {
    text-decoration: underline;
    transition-duration: 1.0s;
    background-color: var(--cor6);
}